/* Home style 6 */

.blog_section{
    padding: 80px 0 50px;
    background: url("../assets//blog/reviews.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.blog_section .user_img img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 10%;
    /* margin-bottom: 25px; */
    /* justify-content: space-between; */
}

/* .blog_section .hrx{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.carousel.slide .carousel-inner .carousel-caption p{
    font-size: 1.3rem;
    padding: 0 12%;
    margin-bottom: 25px;
    line-height: 1.45;
    font-weight: 400;
}

.carousel.slide .carousel-inner .carousel-caption .item_rating i{
    color: var(--yellow);
    margin-right: 5px;
}

.carousel.slide .carousel-inner .carousel-caption h5{
    font-size: 1rem;
    margin-bottom: 2rem;
}

 @media (max-width:767px){
    .carousel.slide .carousel-inner .carousel-caption p{
        font-size: 1rem;
        /* margin-bottom: 2rem; */
    }
 } 